name: magnezoo
services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: magnezoo_user
      POSTGRES_PASSWORD: securepassword
      POSTGRES_DB: magnezoo_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql
  adminer:
    image: adminer
    ports:
      - 8080:8080
    depends_on:
      - postgres
volumes:
  db_data:

networks:
  magnezoo:
    driver: bridge
